{% extends "base.html" %}
{% block title %}∞∞∞∞ Îñtê®ñe† ∞∞∞∞{% endblock %}

{% block content %}
<section id="map"></section>
<aside>
  <h2>Visible internets</h2>
  <fieldset>
    <legend>Filter</legend>
    <label for="filter-wifi">Wi-Fi</label>
    <input id="filter-wifi" type="checkbox" name="filter" value="lan" checked>
    <label for="filter-lan">Lan</label>
    <input id="filter-lan" type="checkbox" name="filter" value="wifi" checked>
  </fieldset>
  <button id="new-lan">New LAN</button>
  <button id="new-wifi">New WiFi</button>
  <div id="new-forms"></div>
  <ul id="internets-list"></ul>
</aside>
{% endblock %}
