{% extends "base.html" %}
{% block title %}Title{% endblock %}

{% block content %}
<section id="map"></section>
<aside>
  <h2>Visible internets</h2>
  <fieldset>
    <legend>Filter</legend>
    <label for="filter-wifi">Wi-Fi</label>
    <input id="filter-wifi" type="checkbox" name="filter" value="lan" checked>
    <label for="filter-lan">Lan</label>
    <input id="filter-lan" type="checkbox" name="filter" value="wifi" checked>
  </fieldset>
  <button id="new-lan">New LAN</button>
  <button id="new-wifi">New WiFi</button>
  <div id="new-forms"></div>
  <ul>
    <li class="lan">Gogu internet fizic</li>
    <li class="wifi">Gogu internet psihic</li>
    <li class="wifi">Gogu internet letal</li>
    <li class="lan">Gogu internet fatal</li>
    <li class="lan">Internet</li>
    <li class="wifi">Internet</li>
  </ul>
</aside>
{% endblock %}
